.feedback {
    width: 70%;
    margin: 0 auto;

    .feedback_category {
        text-align: center;
        color: #ffcb01;
        white-space: nowrap;
    }

    .comment_container:hover {
        .comment_icon {
            filter: none;
        }
    }

    .comment_container {
        height: 110px;
        display: flex;
        margin: 20px 0;
        align-items: center;

        .feedback_comment {
            width: 100%;
            font-family: Montserrat-SemiBold;
            text-overflow: ellipsis;
            overflow: hidden;
            height: 110px;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
        }

        .comment_icon {
            display: block;
            margin-right: 20px;
            height: 64px;
            filter: invert(82%) sepia(53%) saturate(5235%) hue-rotate(3deg) brightness(110%) contrast(106%);
        }

    }

    .feedback_author {
        color: #ffcb01;
        text-align: center;
        font-family: Montserrat-Bold;
        font-size: 14px;
        margin-top: 20px;
    }

    .feedback_rating {
        justify-content: center;
        display: flex;

        li {
            img {
                display: block;
                margin: 0 5px;
                height: 22px;
                filter: invert(82%) sepia(53%) saturate(5235%) hue-rotate(3deg) brightness(110%) contrast(106%);
            }

        }

        li:hover {
            img {
                filter: invert(99%) sepia(54%) saturate(1332%) hue-rotate(183deg) brightness(123%) contrast(84%);
            }
        }
    }
}

@media (min-width: 1400px) {
    .feedback {
        width: 80%;

    }
}

@media (max-width: 1000px) {
    .feedback {
        width: 80%;

    }
}

@media (max-width: 800px) {
    .feedback {
        width: 70%;

    }
}

@media (max-width: 650px) {
    .feedback {
        width: 90%;

    }
}

@media (max-width: 500px) {
    .feedback {
        .comment_container {
            .feedback_comment {
                font-size: 14px;
                line-height: 18px;
                -webkit-line-clamp: 6;
            }
        }
    }
}